<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p class="mt-4"><a href="/posts">投稿一覧</a>｜
      <a href="/users">ユーザー一覧</a>
    </p>
  </body>
</html>
